<div class="main-content">
  <div class="action-buttons row">
    <div class="button border_button element_button">
      <a [routerLink]="['/roles']" class="d-flex justify-content-center">
        Volver
      </a>
    </div>
    <h2>{{this.stage}} rol</h2>
  </div>
  <form [formGroup]="roleFormGroup" (ngSubmit)="saveForm(roleFormGroup.value)" novalidate>
    <div class="form-control">
      <div class="form-group row">
        <label for="role" class="col-2 col-form-label">Rol*
          <div class="valid-form" *ngIf="roleFormGroup.controls.role.errors?.required && roleFormGroup.controls.role.touched">
            <strong> Nombre es requerido</strong>
          </div>
          <div class="valid-form" *ngIf="roleFormGroup.controls.role.errors?.minlength">
            <strong> Minimo 4 caracteres </strong>
          </div>
        </label>
        <div class="col-10">
          <input class="input_field form_subject" type="text" [(ngModel)]="role.role" id="role" formControlName="role">
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-2 col-form-label">Descripcion</label>
        <div class="col-10">
          <input class="input_field form_subject" type="text" [(ngModel)]="role.description" id="description" formControlName="description">
        </div>
      </div>

      <div class="text-right">
        <button type="submit" class="trans_300" [ngClass]="{'button border_button_black disabled': roleFormGroup.invalid, 'submit_btn':roleFormGroup.valid}"
                [disabled]="!roleFormGroup.valid">{{this.button}}</button>
      </div>

    </div>
  </form>
</div>
