<div class="main-content">
  <form #roleForm="ngForm" (ngSubmit)="saveForm(roleForm.value)" novalidate>
    <div class="action-buttons row">
      <div class="button border_button element_button">
        <a [routerLink]="['/roles']" class="d-flex justify-content-center">
          Volver
        </a>
      </div>
      <h2>{{this.stage}} rol</h2>
    </div>
    <div class="form-control">

      <div class="form-group row">
        <label for="role" class="col-2 col-form-label">Rol</label>
        <div class="col-10">
          <input class="input_field form_subject" type="text" [(ngModel)]="role.role" id="role" name="role">
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-2 col-form-label">Descripcion</label>
        <div class="col-10">
          <input class="input_field form_subject" type="text" [(ngModel)]="role.description" id="description" name="description">
        </div>
      </div>

      <div class="text-right">
        <button type="submit" class="submit_btn trans_300">{{this.button}}</button>
      </div>

    </div>
  </form>
</div>
