<div class="main-content">
  <form #manuscriptForm="ngForm">
    <button class="btn btn-primary" (click)="saveForm(manuscriptForm.valid)">Guardar</button>
    <div class="form-control">
      <div class="form-group row">
        <label for="titulo" class="col-2 col-form-label">Titulo</label>
        <div class="col-10">
          <input class="form-control" type="text" value="Artisanal kale" id="titulo">
        </div>
      </div>

      <div class="form-group row">
        <label for="fecha" class="col-2 col-form-label">Date</label>
        <div class="col-10">
          <input class="form-control" type="date" value="2011-08-19" id="fecha">
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-2 col-form-label">Text</label>
        <div class="col-10">
          <input class="form-control" type="text" value="Artisanal kale" id="">
        </div>
      </div>
    </div>
  </form>
</div>
