<div class="main-content center login-panel">
  <div class="form-control">
    <h1 class="logo_background"></h1>
    <form #loginForm="ngForm" (ngSubmit)="doLogin(loginForm.value)" novalidate>
      <div class="form-group">
        <input class="input_field form_subject" type="text"
               [(ngModel)]="user.username" name="username" placeholder="Usuario">
      </div>

      <div class="form-group">
        <input class="input_field form_subject" type="password"
               [(ngModel)]="user.password" name="password" placeholder="Contraseña">
      </div>

      <div class="text-right">
        <button type="submit" class="submit_btn trans_300">Login</button>
      </div>

    </form>
  </div>
</div>
