<div class="col-lg-12 page-list">
  <div class="action-buttons">
    <div class="button element_button">
      <a (click)="createAuthor()" class="d-flex justify-content-center">
        Nuevo
      </a>
    </div>
  </div>
  <div class="table-content">
    <table class="table table-striped table-hover">
      <thead class="header-sort">
      <tr>
        <th class="text-left">Nombre</th>
        <th class="text-left">Segundo Nombre</th>
        <th class="text-left">Apellido P.</th>
        <th class="text-left">Apellido M.</th>
        <th class="text-right"></th>
        <th class="text-right"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let author of authors">
        <td class="text-left">{{author.name}}</td>
        <td class="text-left">{{author.middle_name}}</td>
        <td class="text-left">{{author.last_name}}</td>
        <td class="text-left">{{author.surname}}</td>
        <td class="text-right">
          <button type="button" class="btn btn-default btn-sm" (click)="editAuthor(author.id)">
            <span class="glyphicon glyphicon-edit"></span> Editar
          </button>
        </td>
        <td class="text-right">
          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal">
            <a (click)="openModal(author)">
              X
            </a>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="deleteModalLabel">Eliminar Autor</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Estas seguro de eliminar el autor {{this.author.name}} {{this.author.last_name}}
      </div>
      <div class="modal-footer">
        <button type="submit" class="trans_300 button border_button_black" data-dismiss="modal">Cerrar</button>
        <div class="button element_button button_red" data-dismiss="modal">
          <a (click)="deleteAuthor()" class="d-flex justify-content-center">
            Eliminar
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
