<div class="col-xs-12 page-list">
  <div class="action-buttons">
    <div class="dropdown">
      <button class="btn btn-primary" data-toggle="dropdown">
        <a class="btn-primary" (click)="createManuscript()">
          <span class="glyphicon glyphicon-plus icon-inside-btn"></span> Nuevo
        </a>
      </button>
    </div>
  </div>
  <div class="center table-content">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
      <thead class="header-sort">
      <tr>
        <th class="col-xs-4 text-left">Nombre</th>
        <th class="col-xs-4 text-left">Apellidos</th>
        <th class="col-xs-2 text-left">Editar</th>
        <th class="col-xs-2 text-left">Eliminar</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-left">1</td>
        <td class="text-left">2</td>
        <td class="text-left"><span class="glyphicon glyphicon-pencil"></span></td>
        <td class="text-right">4</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
