<div class="main-content">
  <div class="action-buttons row">
    <div class="button border_button element_button">
      <a [routerLink]="['/users']" class="d-flex justify-content-center">
        Volver
      </a>
    </div>
    <h2>Registrar nuevo usuario</h2>
  </div>

  <form [formGroup]="registrationFormGroup" (ngSubmit)="saveForm(registrationFormGroup.value)">
    <div class="form-control">
      <div class="form-group">
        <label for="name">Nombre*
          <div class="valid-form" *ngIf="registrationFormGroup.controls.name.errors?.required && registrationFormGroup.controls.name.touched">
            <strong> Nombre es requerido</strong>
          </div>
        </label>
        <input class="input_field form_subject" id="name" type="text" name="name" formControlName="name"/>
      </div>

      <div class="form-group">
        <label for="usernamme">Usuario*
          <div class="valid-form" *ngIf="registrationFormGroup.controls.username.errors?.required && registrationFormGroup.controls.username.touched">
            <strong> Usuario es requerido</strong>
          </div>
        </label>
        <input class="input_field form_subject" id="usernamme" type="text" name="username" formControlName="username"/>
      </div>

      <div class="form-group">
        <label for="role">Rol*
          <div class="valid-form" *ngIf="registrationFormGroup.controls.role.errors?.required && registrationFormGroup.controls.role.touched">
            <strong> Rol es requerido</strong>
          </div>
        </label>
        <input class="input_field form_subject" id="role" type="hidden" name="role" formControlName="role" (ngModel)="roleId"/>
        <app-role-dropdown-component (roleId)="receiveRole($event)"></app-role-dropdown-component>
      </div>


      <div [formGroup]="passwordFormGroup">
        <div class="form-group">
          <label for="password">Password*
            <div class="valid-form" *ngIf="passwordFormGroup.controls.password.errors?.required && passwordFormGroup.controls.password.touched">
              <strong> Contraseña requerida</strong>
            </div>
          </label>
          <input class="input_field form_subject" id="password" type="password" name="password" formControlName="password">
        </div>

        <div class="form-group">
          <label for="repeatPassword">Confirmar contraseña*
            <div class="valid-form" *ngIf="passwordFormGroup.controls.repeatPassword.errors?.required && passwordFormGroup.controls.repeatPassword.touched">
              <strong>Confirmar la contraseña es requerida</strong>
            </div>
            <div class="valid-form" *ngIf="passwordFormGroup.errors?.doesMatchPassword">
              <strong>Las contraseñas no coinciden</strong>
            </div>
          </label>
          <input class="input_field form_subject" id="repeatPassword" type="password" name="repeatPassword" formControlName="repeatPassword">
        </div>


      </div>
      <div class="form-group">
        <button class="submit_btn trans_300" type="submit" [disabled]="!registrationFormGroup.valid">Register</button>
      </div>
    </div>
  </form>
</div>
