<div class="col-xs-12 page-list">
  <div class="action-buttons">
    <button class="btn btn-primary">
      <a class="btn-primary" (click)="registerManuscript()">
        <span class="glyphicon glyphicon-plus icon-inside-btn"></span> Registrar
      </a>
    </button>
  </div>
  <div class="center table-content">
    <table class="table table-striped list-search-result">
      <thead class="header-sort">
      <tr>
        <th class="col-xs-1 text-align-left">No.</th>
        <th class="col-xs-3 text-align-left">Titulo</th>
        <th class="col-xs-2 text-align-left">Autor</th>
        <th class="col-xs-2 text-align-left">Genero</th>
        <th class="col-xs-2 text-align-left">Estado</th>
        <th class="col-xs-1 text-align-left">editar</th>
        <th class="col-xs-1 text-align-left">Eliminar</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-align-left">1</td>
        <td class="text-align-left">2</td>
        <td class="text-align-left">2</td>
        <td class="text-align-left">3</td>
        <td class="text-align-left">4</td>
        <td class="text-align-left">4</td>
        <td class="text-align-left">4</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
