<div class="col-xs-12 page-list">
  <div class="action-buttons">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-plus icon-inside-btn"></span> Nuevo
      </button>
    </div>
  </div>
  <div class="center table-content">
    <table class="table table-striped list-search-result">
      <thead class="header-sort">
      <tr>
        <th class="col-xs-3 text-align-left">Autor</th>
        <th class="col-xs-5 text-align-left">Titulo</th>
        <th class="col-xs-3 text-align-left">Cantidad</th>
        <th class="col-xs-1 text-align-left">Este</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-align-left">1</td>
        <td class="text-align-left">2</td>
        <td class="text-align-left">3</td>
        <td class="text-align-left">4</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
