<div class="main-content">
  <div class="action-buttons row">
    <div class="button border_button element_button">
      <a [routerLink]="['/books']" class="d-flex justify-content-center">
        Volver
      </a>
    </div>
    <h2>{{this.stage}} libro</h2>
  </div>

  <form [formGroup]="bookFormGroup" (ngSubmit)="saveForm(bookFormGroup.value)" novalidate>
    <div class="form-control">
      <div class="form-group row">
        <label for="title" class="col-12 col-form-label">Titulo*
          <div class="valid-form" *ngIf="bookFormGroup.controls.title.errors?.required && bookFormGroup.controls.title.touched">
            <strong> Titulo es requerido</strong>
          </div>
          <div class="valid-form" *ngIf="bookFormGroup.controls.title.errors?.minlength">
            <strong> Minimo 4 caracteres </strong>
          </div>
        </label>
        <div class="col-10">
          <input class="input_field form_subject" type="text" [(ngModel)]="book.title" id="title" formControlName="title" required minlength="3" maxlength="20">
        </div>
      </div>

      <div class="form-group row">
        <label for="isbn" class="col-12 col-form-label">ISBN*
          <div class="valid-form" *ngIf="bookFormGroup.controls.isbn.errors?.required && bookFormGroup.controls.isbn.touched">
            <strong> ISBN es requerido</strong>
          </div>
          <div class="valid-form" *ngIf="bookFormGroup.controls.isbn.errors?.pattern">
            <strong> Caracteres no permitidos </strong>
          </div>
        </label>
        <div class="col-10">
          <input class="input_field form_subject" type="number" [(ngModel)]="book.isbn" id="isbn" formControlName="isbn">
        </div>
      </div>

      <div class="form-group row">
        <label for="price" class="col-12 col-form-label">Precio*
          <div class="valid-form" *ngIf="bookFormGroup.controls.price.errors?.required && bookFormGroup.controls.price.touched">
            <strong> Precio es requerido</strong>
          </div>
          <div class="valid-form" *ngIf="bookFormGroup.controls.price.errors?.pattern">
            <strong> Caracteres no permitidos </strong>
          </div>
        </label>
        <div class="col-10">
          <input class="input_field form_subject" type="number" [(ngModel)]="book.price" id="price" formControlName="price">
        </div>
      </div>

      <div class="form-group row" *ngIf="this.id === '0'">
        <label for="stock" class="col-12 col-form-label">Stock*
          <div class="valid-form" *ngIf="bookFormGroup.controls.stock.errors?.required && bookFormGroup.controls.stock.touched">
            <strong> Precio es requerido</strong>
          </div>
          <div class="valid-form" *ngIf="bookFormGroup.controls.stock.errors?.pattern">
            <strong> Caracteres no permitidos </strong>
          </div>
        </label>
        <div class="col-10">
          <input class="input_field form_subject" type="number" [(ngModel)]="book.stock" id="stock" formControlName="stock">
        </div>
      </div>

      <div class="form-group row">
        <label for="isbn" class="col-12 col-form-label">Genero</label>
        <div class="col-10">
          <app-gender-dropdown-component (genderId)="receiveGenderId($event)" id="gender"></app-gender-dropdown-component>
        </div>
      </div>

      <div class="form-group row">
        <label for="isbn" class="col-12 col-form-label">Author</label>
        <div class="col-10">
          <app-author-dropdown-component (authorId)="receiveAuthorId($event)" id="author"></app-author-dropdown-component>
        </div>
      </div>

      <div class="text-right">
        <button type="submit" class="trans_300" [ngClass]="{'button border_button_black': bookFormGroup.invalid, 'submit_btn':bookFormGroup.valid}"
                [disabled]="!bookFormGroup.valid">{{this.button}}</button>
      </div>

    </div>
  </form>
</div>
