<div class="main-content">

  <div class="action-buttons row">
    <div class="button border_button element_button">
      <a [routerLink]="['/genders']" class="d-flex justify-content-center">
        Volver
      </a>
    </div>
    <h2>{{this.stage}} autor</h2>
  </div>
  <div class="form-control">
    <form [formGroup]="genderFormGroup" (ngSubmit)="saveForm(genderFormGroup.value)" novalidate>
      <div class="form-group row">
        <label for="gender" class="col-12 col-form-label">Genero*
          <div class="valid-form" *ngIf="genderFormGroup.controls.gender.errors?.required && genderFormGroup.controls.gender.touched">
            <strong> Nombre es requerido</strong>
          </div>
          <div class="valid-form" *ngIf="genderFormGroup.controls.gender.errors?.minlength">
            <strong> Minimo 4 caracteres </strong>
          </div>
          <div class="valid-form" *ngIf="genderFormGroup.controls.gender.errors?.pattern">
            <strong> Caracteres no permitidos </strong>
          </div>
        </label>
        <div class="col-10">
          <input class="input_field form_subject" type="text" id="gender" formControlName="gender" [(ngModel)]="gender.gender" required>
        </div>
      </div>

      <div class="text-right">
        <button type="submit" class="trans_300" [ngClass]="{'button border_button_black': genderFormGroup.invalid, 'submit_btn':genderFormGroup.valid}"
                [disabled]="!genderFormGroup.valid">{{this.button}}</button>
      </div>
    </form>
  </div>

</div>
