<div class="col-xs-12 page-list">
  <div class="action-buttons">
    <div class="button element_button">
      <a (click)="createGender()" class="d-flex justify-content-center">
        Nuevo
      </a>
    </div>
  </div>
  <div class="center table-content">
    <table class="table table-striped list-search-result">
      <thead class="header-sort">
      <tr>
        <th class="text-left">Genero</th>
        <th class="text-left">Editar</th>
        <th class="text-left">Eliminar</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let gender of genders">
        <td class="text-align-left">{{gender.gender}}</td>
        <td class="text-left">
          <button type="button" class="btn btn-default btn-sm" (click)="editGender(gender.id)">
            <span class="glyphicon glyphicon-edit"></span> Edit
          </button></td>
        <td class="text-right">
          <button type="button" class="btn btn-default btn-sm" (click)="deleteGender(gender.id)">
            <span class="glyphicon glyphicon-edit"></span> delete
          </button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
