<div class="main-content">
  <div class="action-buttons row">
    <div class="button border_button element_button">
      <a [routerLink]="['/manuscripts']" class="d-flex justify-content-center">
        Volver
      </a>
    </div>
  </div>
  <form [formGroup]="manuscriptFormGroup" (ngSubmit)="registerForm(manuscriptFormGroup.value)" novalidate>
    <div class="form-control">
      <div class="form-group row">
        <label for="title" class="col-2 col-form-label">Titulo* {{manuscriptFormGroup.controls.title.errors?.required}}
          <div class="valid-form" *ngIf="manuscriptFormGroup.controls.title.errors?.required && manuscriptFormGroup.controls.title.touched">
            <strong> Titulo es requerido</strong>
          </div>
          <div class="valid-form" *ngIf="manuscriptFormGroup.controls.title.errors?.minlength">
            <strong> Minimo 4 caracteres </strong>
          </div>
          <div class="valid-form" *ngIf="manuscriptFormGroup.controls.title.errors?.pattern">
            <strong> Caracteres no permitidos </strong>
          </div>
        </label>
        <div class="col-10">
          <input class="input_field form_subject" type="text" [(ngModel)]="manuscript.title" id="title" formControlName="title">
        </div>
      </div>

      <div class="form-group row">
        <label for="author" class="col-2 col-form-label">Autor</label>
        <div class="col-10">
          {{manuscriptFormGroup.controls.author.errors?.required}}
          <app-author-dropdown-component (authorId)="receiveAuthorId($event)" id="author" formControlName="author" ></app-author-dropdown-component>
        </div>
      </div>

      <div class="form-group row">
        <label for="gender" class="col-2 col-form-label">Genero</label>
        <div class="col-10">
          <app-gender-dropdown-component (genderId)="receiveGenderId($event)" id="gender" formControlName="gender" ></app-gender-dropdown-component>
        </div>
      </div>

      <div class="text-right">
        <button type="submit" class="trans_300" [ngClass]="{'button border_button_black': manuscriptFormGroup.invalid, 'submit_btn':manuscriptFormGroup.valid}"
                [disabled]="!manuscriptFormGroup.valid">{{this.button}}</button>
      </div>

    </div>
  </form>
</div>
