<div class="main-content">
  <div class="action-buttons row">
    <div class="button border_button element_button">
      <a [routerLink]="['/roles']" class="d-flex justify-content-center">
        Volver
      </a>
    </div>
    <h2>rol</h2>
  </div>
  <div class="form-control">
    <form #roleForm="ngForm" (ngSubmit)="saveForm(roleForm.value)" novalidate>
      <div class="form-group row">
        <div class="col-md-4">
          <label for="role" class="col-12 col-form-label">Rol*
          </label>
          <input class="input_field form_subject" type="text" id="role" [name]="role.role">
        </div>
        <div class="col-md-4">
          <label for="description" class="col-12 col-form-label">Descripcion</label>
          <input class="input_field form_subject" type="text" id="description" [name]="role.description">
        </div>
      </div>
      <div class="text-right">
        <button type="submit" class="submit_btn trans_300">Grabar</button>
      </div>
    </form>
    <div class="form-check-inline">
      Resources
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <div class="table-content">
          <div class="box-header name row">
            <div class="col-md-2"></div>
            <div class="col-md-2 right"><span class="description pull-right">Lectura</span></div>
            <div class="col-md-2 right"><span class="description pull-right">Escritura</span></div>
            <div class="col-md-2 right"><span class="description pull-right">Crear</span></div>
            <div class="col-md-2 right"><span class="description pull-right">Eliminar</span></div>
            <div class="col-md-2 right"><span class="description pull-right checkbox-last">Ejecutar</span></div>
          </div>
          <div>
            <ul *ngFor="let resource of rolePermissions; let i = index">
              <li style="position: relative;">
                <div class="col-md-4">
                  <label>
                    <span>{{resource.name}}</span>
                  </label>
                </div>
                <div class="execute">
                  <label class="container">
                    <input [checked]="resource.pexecute" (click)="update(resource.pexecute, rolePermissions[i].id, 'pexecute')" type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div *ngIf="resource.url.length > 0" >
                  <ul>
                    <li class="col-md-12 row">
                      <div class="col-md-4"></div>
                      <div class="col-md-2">
                        <label class="container">
                          <input [checked]="resource.pread" (click)="update(resource.pread, rolePermissions[i].id, 'pread')" type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="col-md-2">
                        <label class="container">
                            <input [checked]="resource.pwrite" (click)="update(resource.pwrite, rolePermissions[i].id, 'pwrite')" type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="col-md-2">
                        <label class="container">
                            <input [checked]="resource.pcreate" (click)="update(resource.pcreate, rolePermissions[i].id, 'pcreate')" type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="col-md-2">
                        <label class="container">
                            <input [checked]="resource.pdelete" (click)="update(resource.pdelete, rolePermissions[i].id, 'pdelete')" type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                    </li>
                  </ul>
                </div>

                <div *ngIf="resource.children.length > 0" >
                  <ul *ngFor="let child of resource.children; let j = index">
                    <li class="row">
                      <div class="col-md-2">
                        <span>
                          <label>
                            {{child.name}}
                          </label>
                        </span>
                      </div>
                      <div class="col-md-2">
                        <label class="container" style="text-align: right !important;">
                          <input [checked]="child.pread" (click)="update(child.pread, rolePermissions[i].children[j].id, 'pread')" type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="col-md-2">
                        <label class="container">
                          <input [checked]="child.pwrite" (click)="update(child.pwrite, rolePermissions[i].children[j].id, 'pwrite')" type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="col-md-2">
                        <label class="container">
                          <input [checked]="child.pcreate" (click)="update(child.pcreate, rolePermissions[i].children[j].id, 'pcreate')" type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="col-md-2">
                        <label class="container">
                          <input [checked]="child.pdelete" (click)="update(child.pdelete, rolePermissions[i].children[j].id, 'pdelete')" type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="col-md-2">
                        <label class="container">
                          <input [checked]="child.pexecute" (click)="update(child.pexecute, rolePermissions[i].children[j].id, 'pexecute')" type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
