<div class="main-content">
  <form novalidate>
    <fieldset>
      <button class="btn btn-primary" type="submit" (click)="saveForm()">Guardar</button>
      <div class="form-control">
        <div class="form-group row">
          <label for="genero" class="col-2 col-form-label">Titulo</label>
          <div class="col-10">
            <input class="form-control" type="text" placeholder="Genero" id="genero" required>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
