<nav class="main_nav">
  <div class="logo_background" style="float: left;"></div>
  <ul class="nav_items">
    <li class="nav-item text-left "><a class="nav-link" [routerLink]="['/main']">HOME</a></li>

    <li *ngFor="let menu of _dashboard" [ngClass]="{'nav-item dropdown': menu.url === '', 'nav-item': menu.url !== ''}">
      <a *ngIf="menu.url !== ''" class="nav-link" [routerLink]="menu.url">{{menu.name}}</a>
      <a *ngIf="menu.url === ''" class="nav-link" href="#" id="menu.id" role="button"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{menu.name}}</a>
      <div *ngIf="menu.url === ''" class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a *ngFor="let child of menu.children" class="nav-link" [routerLink]="child.url">{{child.name}}</a>
      </div>
    </li>


    <li class="nav-item dropdown">
      <a class="nav-link" href="#" id="userDropdown" role="button"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{currentUser.username}}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="nav-link pointer" (click)="logout()">Desconectarse</a>
      </div>
    </li>
  </ul>
</nav>
