<div class="main-content">
  <form #authorForm="ngForm" (ngSubmit)="saveForm(authorForm.value)" novalidate>
    <div class="action-buttons row">
      <div class="button border_button element_button">
        <a [routerLink]="['/authors']" class="d-flex justify-content-center">
          Volver
        </a>
      </div>
      <h2>{{this.stage}} autor</h2>
    </div>
    <div class="form-control">

      <div class="form-group row">
        <label for="name" class="col-2 col-form-label">Nombre</label>
        <div class="col-10">
          <input class="input_field form_subject" type="text" [(ngModel)]="author.name" id="name" name="name" required minlength="3" maxlength="20">
        </div>
      </div>

      <div class="form-group row">
        <label for="last_name" class="col-2 col-form-label">Apellidos</label>
        <div class="col-10">
          <input class="input_field form_subject" type="text" [(ngModel)]="author.last_name" id="last_name" name="last_name" required minlength="3" maxlength="30">
        </div>
      </div>

      <div class="text-right">
        <button type="submit" class="submit_btn trans_300">{{this.button}}</button>
      </div>

    </div>
  </form>
</div>
