<div class="main-content">
  <form #authorForm="ngForm" (ngSubmit)="saveForm(authorForm.value)" novalidate>
    <div class="button element_button">
      <a class="d-flex justify-content-center">
        discover
      </a>
    </div>
    <div class="button2 border_button element_button">
      <a [routerLink]="['/authors']" class="d-flex justify-content-center">
        Volver
      </a>
    </div>
    <a [routerLink]="['/authors']" class="btn btn-default"> volver </a>
    <input type="submit" value="{{this.button}}" class="btn btn-primary">
    <div class="form-control">

      <div class="form-group row">
        <label for="name" class="col-2 col-form-label">Nombre</label>
        <div class="col-10">
          <input class="form-control" type="text" [(ngModel)]="author.name" id="name" name="name" required minlength="3" maxlength="20">
        </div>
      </div>

      <div class="form-group row">
        <label for="last_name" class="col-2 col-form-label">Apellidos</label>
        <div class="col-10">
          <input class="form-control" type="text" [(ngModel)]="author.last_name" id="last_name" name="last_name" required minlength="3" maxlength="30">
        </div>
      </div>

    </div>
  </form>
</div>
