<div class="main-content">
  <form #saleForm (ngSubmit)="saveForm(saleForm.value)" novalidate>
    <div class="action-buttons row">
      <div class="button border_button element_button">
        <a [routerLink]="['/sales']" class="d-flex justify-content-center">
          Volver
        </a>
      </div>
    </div>
    <div class="form-control">

      <div class="form-group row">
        <div class="col">
          <label for="code" class="col-4 col-form-label">No de Venta</label>
          <div class="col-8">
            <input class="input_field form_subject" type="text" [(ngModel)]="sale.code" id="code" name="code" readonly>
          </div>
        </div>
        <div class="col">
          <label for="date" class="col-2 col-form-label">Fecha</label>
          <div class="col-10">
            <input class="input_field form_subject" type="date" [(ngModel)]="sale.date" id="date" name="date" readonly>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Libreria</label>
        <div class="col-10">
          <app-bookstore-dropdown-component></app-bookstore-dropdown-component>
        </div>
      </div>

      <table class="table table-striped table-hover">
        <thead class="header-sort">
        <tr>
          <th>Libro</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Añadir/Eliminar</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-left">
            <app-book-dropdown-component></app-book-dropdown-component>
          </td>
          <td class="text-left">
            <input class="input_field form_subject" type="number" min="0" [(ngModel)]="newAttribute.price" name="newPrice">
          </td>
          <td class="text-left">
            <input class="input_field form_subject" type="number" [(ngModel)]="newAttribute.quantity" name="newQuantity">
          </td>
          <td>
            <a (click)="addField()" class="pointer"> + </a>
          </td>
        </tr>
        <tr *ngFor="let field of fieldArray; index as i">
          <td class="text-left">
            <app-book-dropdown-component></app-book-dropdown-component>
          </td>
          <td class="text-left">
            <input class="input_field form_subject" type="number" min="0" [(ngModel)]="field.price" name="{{field.price}}">
          </td>
          <td class="text-left">
            <input class="input_field form_subject" type="number" [(ngModel)]="field.quantity" name="{{field.quantity}}">
          </td>
          <td>
            <a (click)="removeField()" class="pointer"> X </a>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="text-right">
        <button type="submit" class="submit_btn trans_300">{{this.button}}</button>
      </div>

    </div>
  </form>
</div>
